/* src/components/ImageSlider.css */

.slider-container {
    width: 100%;
    height: 500px; 
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    margin: 20px 0; 
    border-radius: 8px; 
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}


.slider-image.active {
    opacity: 1;
}


.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider-overlay h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.slider-overlay p {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 0;
}